.section-galeria {
    color: $color-secundario;
    background-color: $color-principal;
}
 
.container-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 400px) {
    .container-galeria {
      grid-template-columns: 1fr; /* Cambia a una columna */
    }
  }

    

   




